:root{
    --widthSideBar: 300px;
    --cB: ease-in;
    --cBM: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    --ControlsColor: rgba(250, 250, 250, 1);
}


html, body { 
    width: 100%; 
    height: 100%; 
    margin: 0; 
    overflow: hidden; 
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

body.black { 
    background-color: #000000; 
}

a { 
    color: #CCCCCC; 
    text-decoration: dotted underline; 
    cursor: pointer; 
}

ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

ul li { 
    cursor: pointer; 
    padding: 5px; 
    border-radius: 5px; 
}

ul li:hover { 
    background-color: #444444; 
}

ul li:last-child { 
    margin-bottom: 10px;
}

.box { 
    position: fixed; 

    background-color: var(--ControlsColor); 
    color: #101010; 
    border-radius: 5px; 
    overflow-y: auto; 
}





.box button, .box input{ 
    cursor: pointer; 
    width: 96%; 
    padding: 2% 5px; 
    font-size: 13px; 
    border: none;  
    border-radius: 5px;
}
.box select {
    cursor: pointer; 
    width: 100%; 
    padding: 2% 5px; 
    font-size: 13px; 
    border: none;  
    border-radius: 5px; 
}

option{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#countries {
    top: 0px; 
    right: 0px;
    bottom: 0px;
    width: var(--widthSideBar);
    padding: 10px; 
}

#toggleCountries {
    display: none;
    background: var(--ControlsColor);
}

#info { 
    top: unset; 
    bottom: 0px;
    right: calc(var(--widthSideBar) + 20px);/*var(--widthSideBar);*/
    left: 0px; 
    overflow: hidden;
    max-height: 500px;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: var(--cB);
    /*left: calc(50vw - 300px);
    min-height: 14%;*/
}
#info.closed { 
    max-height: 0px;
}

#info .hide { 
    right: calc(var(--widthSideBar) + 20px);
    margin-right: 10px;
    color: black;
    font-size: 55px;

}
#into, #out {
    padding: 2% 2%;
    min-height: 28%;
}


@media all and (max-width: 999px) {
    #countries {
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 88%;
        padding: 6%; 
        max-width: 2000px;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: var(--cBM);
    }

    #countries.closed{
        right: -100%;
    }

    #toggleCountries {
        display: table;
        font-style: bold;
        font-size: 100%;
        height: 30px;
        padding: 1px 44px;
        background: var(--ControlsColor);
        border-radius: 15px 0 0 15px; 
        margin: 30px 0px;
        right: 0px;
        top: 0px;
        position: fixed;
    }
    #toggleCountries.closed {
        
    }
    #innerToggleCountries{
        display: table-cell;
        vertical-align: middle;
    }
    #info { 
        top: unset; 
        bottom: 0px;
        /*right: calc(var(--widthSideBar) + 20px);var(--widthSideBar);*/
        right: 0px;
        left: 0px; 
        overflow: hidden;
        height: 100%;
        max-height: 2000px;
        transition-property: all;
        transition-duration: 0.6s;
        transition-timing-function: var(--cBM);
        /*left: calc(50vw - 300px);
        min-height: 14%;*/
    }
    .infoContent{
        padding-top: 22px;
    }
    #info.closed { 
        max-height: 0px;
    }

    #info .hide { 
        right: /*calc(var(--widthSideBar) + 20px);*/20px;
        margin-right: 10px;
        color: black;
        font-size: 55px;

    }
    #into, #out {
        height: 49%;
        padding: 2% 2%;
        display: table;
        width: 100%;
    }
    #intoInner, #outInner{
        display: table-cell;
        vertical-align: middle;
    }
    .infoHome {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0px;
        padding: 2% 2%;
        min-height: 28%;
        height: 100%;
    }

}

#info.time {
    bottom: 50px; 
}
h2.infoHeading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
}
h3.subTitle{
    font-style: initial;
    font-size: 20px;
    display: inline;
}
.infoHome {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 2% 2%;
    min-height: 28%;
}
.infoContent {
    font-size: 20px;
    font-style: italic;
}

.forbidden {
    background-color: #E7171F;
}

.quara {
    background-color: #f57640;
}

.pcr {
    background-color: #f5cb40;
}

.ag {
    background-color: #f2f540;
}

.open {
    background-color: #43aa8b;
}

.hc {
    background-color: #71f5e3;
}

.box button:first-child { 
    margin-bottom: 10px; 
}

/*.box input { 
    padding: 5px; 
    text-align: left; 
}*/

.hide { 
    position: fixed; 
    margin-top: -5px; 
    right: 20px; 
    cursor: pointer; 
    font-size: 25px; 
    text-decoration: none; 
    color: #FFFFFF;
}

.hidden { 
    display: none; 
}

#options, #groups { 
    left: 10px; 
    right: unset; 
}

#labels { 
    top: 10px; 
    /*min-width: 255px;*/
}

#labels button {
    width: 125px;
}

/*#details, #countries { 
    top: 222px; 
    max-height: calc(100vh - 252px);
}*/

#overout { 
    top: 102px;
    right: 10px; 
    left: unset; 
}

body.black #overout {
    top: 10px; 
}


#wikidata { 
    right: unset; 
    left: 10px; 
    width: 350px; 
}

#wikidata button { 
    margin-top: 10px; 
    width: auto; 
    padding: 5px; 
}

#wikidata button:nth-child(4) { 
    margin-bottom: 10px;
}

#wikidata button:nth-child(5) { 
    float: right; 
}

#pageurl { 
    width: 340px; 
    margin-top: 10px; 
}

#code { 
    right: unset; 
    left: 10px; 
    top: 230px;
    width: 350px; 
    max-height: calc(100vh - 260px); 
    font-family: monospace; 
    white-space: pre; 
    background-color: rgba(10, 10, 10, .85);
}

#code .hide { 
    right: unset; 
    margin-left: 335px; 
}

body.black #code {
    top: 10px; 
}

body.wikianim #code {
    top: 94px; 
}

/* Taken from: https://gist.github.com/faffyman/6183311 */
pre {
    margin: 5px;
}

.function {
    color: #BDBB16;
}

.string {
    color: #008000;
}

.number {
    color: #8585F2;
}

.boolean {
    color: #B22222;
}

.null, 
.comment {
    color: #808080;
}

.key {
    color: #CCCCCC;
}

/* Responsive breakpoints */


